@use "@/src/app/mixins" as *;

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5rem;
  max-width: 515px;
  color: var(--secondary-color);
  @include between($breakpoint-md, $breakpoint-lg) {
    margin-top: -1rem;
  }
  @include between($breakpoint-lg, $breakpoint-xxl) {
    margin-top: -3rem;
  }
  @include xxl {
    margin-top: -5rem;
  }
  @include xxxl {
    max-width: 50vw;
  }
  @include tablet {
    max-width: unset;
  }
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  @include between($breakpoint-md, $breakpoint-lg) {
    margin-top: -2rem;
  }
  @include between($breakpoint-lg, $breakpoint-xxl) {
    margin-top: -4rem;
  }
  @include xxl {
    margin-top: -5rem;
  }
}

.photo {
  border-bottom: 1px solid var(--primary-color);
  position: relative;
  display: block;
  height: fit-content;
  @include between($breakpoint-md, $breakpoint-lg) {
    width: 35vw;
    max-width: unset;
  }

  @include tablet {
    width: 330px;
  }
}

.dotsImg {
  position: absolute;
  color: var(--secondary-color);
  z-index: 10;
}

.leftDots {
  top: 75%;
  left: 5%;
  @include tablet {
    left: 20%;
  }
  @include mobile {
    left: 0;
  }
}

.rightDots {
  top: 30%;
  right: 1%;
  @include tablet {
    right: 25%;
  }
  @include mobile {
    right: 10%;
  }
}
