@import "tailwindcss";

:root {
  --background: #292b31;
  --background-main: #2d3035;
  --foreground: #ededed;
  --color: #ffffff;
  --primary-color: #c778dd;
  --secondary-color: #abb2bf;
  --primary-color-hover: #c778dd33;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f3f3f3;
    --background-main: #fcfcfc;
    --foreground: #616161;
    --color: #000000;
    --primary-color: #a51fce;
    --secondary-color: #656a6e;
    --primary-color-hover: #c778dd33;
  }
}

body {
  width: 100%;
  background: var(--background-main);
  color: var(--foreground);
  font-family: var(--font-fira-code);
}
